@import 'tailwindcss';

@theme{
    --font-inter:inter;
    --font-karla:karla;
    --shadow-button:0px 0px 10px oklch(0.901 0.058 230.902);
    --inset-shadow-big:inset 0px 0px 20px rgba(0, 0, 0, 0.6);
    --breakpoint-smm:28rem; 
}